/* Import font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS reset and default styling complete.
    Beginning of main body of code. */

/* Root variables */
:root {
    --body-padding: 6rem;
}

/* Landing Page */

.landing {
    height: 100vh;
    background: #FBF5F3;
    display: flex;
    flex-direction: column;
}

.landing-img {
    background-image: url(img/bux.idk_office_overlooking_the_sea_blue_sky_panoramic_glass_win_5b3aad97-4ce5-4cce-9246-127ddef1c8ed.png);
    height: calc(100vh - 170px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -180px;
}

.landing-heading {
    position: relative;
    background: #0B1321;
    width: 794px;
    height: 178px;
    display: flex;
    align-items: center;
    top: 79px;
    padding: 1rem 2rem 1rem 0;
}

.landing-heading > h1 {
    position: relative;
    color: #FBF5F3;
    text-transform: capitalize;
    text-align: center;
    width: 80%;
    left: 20%;
    font-size: 4rem;
    line-height: normal;
}

.navbar {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  2rem 0 2rem;
}

.logo {
    background-image: url(img/Color\ logo\ -\ no\ background.svg);
    background-size: cover;
    background-position: center;
    width: 428px;
    height: 115px;
}

.burger {
    display: none;
}

.navigation {
    width: 675px;
    display: flex;
    justify-content: space-between;
}

.links {
    text-transform: uppercase;
    color: #0B1321;
    font-weight: 800;
    font-size: 24px;
}

.links:hover {
    color: #009DC4;
}

.scroll {
    position: absolute;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 1;
}

.scroll > a > img {
    width: 300px;
    cursor: pointer;
}

/* About section */

.about {
    height: 100vh;
    background: #FBF5F3;
}

.about-container {
    position: relative;
    display: flex;
    width: 98%;
    height: 100vh;
    top: -3rem;
}   

.about-content-left {
    background: #FBF5F3;
    color: #0B1321;
    padding: var(--body-padding);
    width: 68%;
}

.title-left {
    width: fit-content;
    border-top: 5px solid #009DC4;
    border-left: 5px solid #009DC4;
}

.title-left > h2 {
    text-transform: uppercase;
    font-size: 5rem;
    padding-left: 1rem;
    font-weight: 800;
    color: black;
}

.about-content-left > p {
    margin-top: 3rem;
}

.about-content-left > p,
.about-content-right > ul > li {
    font-size: 1.4rem;
}

.about-content-right {
    background: #0B1321;
    color: #FBF5F3;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 13.5rem 2.5rem 2.5rem 2.5rem;
    border-radius: 0 1.5rem 1.5rem 1.5rem;
}

/* Services section */

.services {
    height: 100vh;
    background: #0B1321;
    padding: var(--body-padding);
}

.service-container {
    display: flex;
    flex-direction: column;
}

.title-right {
    width: fit-content;
    border-top: 5px solid #009DC4;
    border-right: 5px solid #009DC4;
    align-self: flex-end;
}

.title-right > h2 {
    text-transform: uppercase;
    font-size: 5rem;
    padding-right: 1rem;
    font-weight: 800;
    color: #FBF5F3;
    text-align: right;
}

.service-cards {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.service-card {
    border: 5px solid #FBF5F3;
    width: 23%;
    height: 60vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-title > h3 {
    color: #0B1321;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.card-title {
    border-bottom: 3px solid #009DC4;
    line-height: normal;
}

.card-text > p {
    line-height: normal;
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.card-text > p > span {
    color: #009DC4;
    text-transform: capitalize;
    text-decoration: underline;
}

.card-text > p > span:hover {
    cursor: pointer;
}

.card-left {
    background: url(img/pexels-elvis-2528118.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-center-left {
    background: url(img/pexels-anna-shvets-5682332.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
}

.card-center-right {
    background: url(img/pexels-nappy-936137.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-right {
    background: url(img/pexels-christina-morillo-1181673.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
}

/* Case studies section */

.case-studies {
    background: #FBF5F3;
    height: 100vh;
    padding: var(--body-padding);
}

.case-studies-content {
    background: #EFF1F3;
    padding: 2rem;
    width: 75%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 23rem);
}

.case-studies-text {
    color: #0B1321;
}

.case-studies-text > h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.case-studies-text > h4 {
    font-size: 1.1rem;
}

.case-studies-text > p {
    width: 60%;
}

.case-studies-buttons {
    display: flex;
    width: fit-content;
}

.button {
    background: #0B1321;
    color: #FBF5F3;
    font-weight: 700;
    font-size: 1.6rem;
    margin-right: 1rem;
    padding: 0.5rem 8rem 0.5rem 0.5rem;
    width: fit-content;
}

.button:hover {
    cursor: pointer;
    color: #009DC4;
}

.case-studies-image {
    position: absolute;
    background: url(img/pexels-ruslan-burlaka-140945.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
    aspect-ratio: 1.4;
    right: 0;
}

/* Contact section */

.contact {
    background: #EFF1F3;
    padding: var(--body-padding);
    height: calc(100vh / 2);
}

.contact-content {
    display: flex;
    flex-direction: row-reverse;
    height: calc((100vh / 2) - 12rem);
    justify-content: space-between;
}

.contact-content > .title-right {
    align-self: flex-start;
    width: fit-content;
    height: 50%;
}

.contact-content > .title-right > h2 {
    color: #0B1321;
}

.contact-details {
    border-left: 5px solid #009DC4;
    border-bottom: 5px solid #009DC4;
    padding-left: 1rem;
    width: 65%;
}

.contact-email > h3,
.contact-enquire > h3 {
    color: #0B1321;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.contact-email > p {
    font-size: 1.6rem;
}

.contact-enquire > .button {
    text-transform: uppercase;
}

/* Footer section */

.footer {
    height: calc(100vh / 4);
    background: #0B1321;
    display: flex;
    align-items: center;
    padding: 0 6rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer-details {
    display: flex;
    align-items: center;
    gap: 16rem;
}

.footer-details > ul,
.footer-content > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FBF5F3;
    font-weight: 300;
    font-size: large;
}

.footer-content > ul > li > a {
    color: #FBF5F3;
    font-weight: 300;
}

.footer-links {
    text-transform: uppercase;
    cursor: pointer;
}

.footer-links > li > a:hover {
    color: #009DC4;
}

/* MOBILE */

@media only screen and (max-width: 420px) {

    :root {
        --body-padding: 1.4rem;
    }

    /* Landing Page MOBILE */

    .navbar {
        height: 132px;
        padding: var(--body-padding);
    }

    .navigation {
        display: none;
    }

    .logo {
        background-image: url(img/Color\ logo\ icon\ -\ no\ background.png);
        width: 95px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .landing-heading,
    .scroll {
        display: none;
    }

    .landing-img {
        background-position: center;
        height: 137px;
    }

    /* Section height changes */

    .landing,
    .about,
    .about-container,
    .services,
    .case-studies {
        height: fit-content;
    }

    /* About Section MOBILE */

    .about-container {
        flex-direction: column;
        top: 0;
    }

    .about-container,
    .about-content-left,
    .about-content-right {
        width: 100%;
    }

    .about-content-left > p,
    .about-content-right > ul > li {
        font-size: 0.8rem;
    }

    .about-content-right {
        border-radius: 0;
        padding: var(--body-padding);
    }

    /* Title MOBILE */

    .title-mobi {
        display: none;
    }

    .title-left,
    .title-right {
        width: 100%;
    }

    .title-left > h2,
    .title-right > h2 {
        font-size: 4rem;
    }

    /* Service Section MOBILE */

    .service-cards {
        flex-direction: column;
        gap: 1rem;
    }

    .service-card {
        width: 100%;
    }

    /* Case Studies Section MOBILE */

    .case-studies {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .case-studies-image {
        position: relative;
        width: 100%;
        height: 137px;
    }

    .case-studies-content {
        width: auto;
        margin-top: auto;
        height: auto;
    }

    .case-studies-container > .title-left {
        margin: 1rem;
        width: auto;
    }

    .case-studies-text > p {
        width: auto;
        font-size: smaller;
    }

    .case-studies-buttons {
        flex-direction: column;
    }
    
    .button {
        margin: 1rem 0 0 0;
    }

    /* Footer Section MOBILE */

    .footer-details {
        gap: 1rem;
    }

}